.navigation_bar{
    display:flex;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #333;
    align-items: center;
    
}
h1{
    font-size:2rem;
}
#war{
    display:flex;
    grid-row: 3;
    margin: auto;
}
#wartitle{
  font-size: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 0;
}
#grid_main_page{
    display: grid;
    grid-template-rows: 80px 10px 300px;
    align-items: center;

}
#warvideo{
    z-index: -4;
}
#discription{
    z-index: 0;
}
