*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
    background-color: black;
}

html{
    font-size: 62.5%;
}

.navbar{
    width: 100%;
    height: fit-content;
}


.container{
    background-color: black;
}

.container .heading{
    font-size: 4rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 .5 rem 1rem black;
    color: white
}

.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 .5 rem 1rem black;
    overflow: hidden;
    margin: 2rem;
}

.container .music-container .box .image{
    height: 100%;
    width: 25%;
}

.container .music-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .music-container .box .music{
    width: 75%;
}

.container .music-container .box .music audio{
    width: 100%;
    outline: none;
}

#ftr{
    width: 100%;
    height: 300px;
}

@media(max-width: 600px){

    .container .music-container .box{
        height: 27rem;
        width: 90%;
        flex-flow: column;
    }


    .container .music-container .box .image{
        height: 80%;
        width: 100%;
    }

    .container .music-container .box .music{
        height: 20%;
        width: 100%;
    }

    .container .heading{
        font-size: 2rem;
        padding: 10px 20px;
    }
}
