#heart{
    width: 90px;

}
table, th, td {

  border-collapse: collapse;
  width: 100%;
}
th, td {
  background-color: black;
  text-align: center;
}
#title{
    color: white;
    font-family:Aharoni;
    font-size: 5rem; 
    z-index: 1;
}
.navigation_bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
}
a{
    text-decoration: none;
}
h1,h2{
    color: white;
}
body{
    background-color: black;
}

footer{
    display: grid;
    grid-template-rows: 100px 50px;
    margin: auto;
}

#nav_footer{
    border: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
    align-content: end;
    grid-row: 1;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#facebook, #instagram, #youtube{
    width: 30px;
    grid-row: 2;
}

a{
    text-decoration: none;
}

#contact, #follow, #about{
    color: red;
}

