body{
    direction: rtl;
    background-color: rgb(32, 30, 30);
}
.navigation_bar{
    display:flex;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid red;
    align-items: center;
    
}

h1{
    color: white;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}


a{
    text-decoration: none;
}

.emphasise_letters{
    font-weight: bold;
    color: red;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}