
table{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
th, td {
    background-color:rgb(32, 30, 30);
    text-align: center;
    border: 0px solid black;
  }
  label{
    direction:rtl;
}
table, th, td {
    border: 1px solid white;
  }
body{
    background-color:rgb(32, 30, 30);
}
#whantovolunteer{
    text-align: center;
    padding-right: 10px;
    font-family:Aharoni;
    color: white;
}
#locationicon{
    width:20px;
}
ul{
   list-style-type: none; 
}
#volunteer{
    width: 90%;
}
th{
    font-size: 30px;
    font-family:arial ;
}
td{
    font-size: 20px;
    font-family: arial;
}
h2{
    font-size: 40px;
}
.red_letters{
    color: red;
}