h1{
    color: white;
text-align: center;    
}

.header{
    direction: rtl;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


table, #volunteer{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
th, td {
    background-color: border;
    text-align: center;
    border: 0px solid black;
  }
  label{
    direction:rtl;
}
table, th, td {
    border: 1px solid white;
  }

body{
    background-color: black;
    align-items: center;
}
#whantovolunteer{
    text-align: center;
    padding-right: 10px;
    font-family:Aharoni;
    color: white;
}
#locationicon{
    width:20px;
}
ul{
   list-style-type: none; 
}
#volunteer{
    width: 90%;
}
th{
    font-size: 30px;
    font-family:arial ;
}
td{
    font-size: 20px;
    font-family: arial;
}
h2{
    font-size: 40px;
}
.red_letters{
    color: red;
}

#chaklaut{
    width: 300px;
}
#injured{
    width: 170px
}
#chamal{
    width: 300px
}
#cons{
    width: 300px
}
ul{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}
#ftr{
    height:300px
}
.adj{
    display: none;
}
@media screen and (max-width:600px) {

    #pack{
       width:50px ;
       height: 50px;
    }
    #chaklaut{
        width:50px ;
       height: 30px;
    }
    #injured{
        width:50px ;
        height: 50px;
    }
    #chamal{
        width:45px ;
        height: 50px;
    }
    #cons{
        width:50px ;
    }
    td{
        font-size: 14px;
    }
    th{
        font-size: 20px;
    }
    ul{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
    }
    .details{
        display:none
    }
    .adj{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        color: white;
        width: 70%;
    }
    img:hover {
        transform: scale(4);
        transition: transform 0.3s ease-in-out;
      }
      #volunteer{
        margin-right: 100px;
      }


    #submit{
        margin-left: -50px;
    }

    .header{
        font-size: 1.1rem;
    }

    
} 