body{
    direction: rtl; /*change the direction for hebrew - from right to left */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 70%;
    /*background-color: rgb(32, 30, 30);*/
    background-color: black;
    color: white;
}

.navbar{
    width: 100%;
    height: fit-content;
}


#kidnappeds-opening, #soldiers-opening{
    display: flex;
    padding: 0 0 10px 0;
}

#kidnappeds-description, #soldiers-description{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 0;
    text-wrap: wrap;

}

#kidnappeds-opening iframe, #soldiers-opening iframe{
    height: 400px;
    width: 900px;
}

#kidnappeds-opening, #soldiers-opening{
    padding-bottom: 100px;
}

embed {
    display: none;
    margin-top: 10px;
}

p{
    font-size: 1.5rem;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2rem;
}

#care-header{
    padding-bottom: 100px;
}

@media screen and (max-width:600px){
    body{
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    *{
        margin: 0;
        padding: 0;
    }

    #kidnappeds-opening, #soldiers-opening{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
    }
    #kidnappeds-opening iframe, #soldiers-opening iframe{
        width: 280px;
        height: 157px
    }

    #soldiers-opening h2, #kidnappeds-opening h2{
        font-size: 1.3rem;
        padding-bottom: 5px;
    }

    #soldiers-opening p, #kidnappeds-opening p{
        font-size: 1rem;
        margin-right: 20px;
        margin-left: 20px;
    }

    #care-header{
        padding-bottom: 20px;
        font-size: 2rem;
    }

    #details-title{
        font-size: 1.7rem;
        margin: 20px 0px;
    }

    #ftr{
        height: 550px;
    }
}