body{
    direction: rtl; /*change the direction for hebrew - from right to left */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 70%;
    background-color: rgb(32, 30, 30);
    color: white;
}

label{
    font-size: 1.2rem;
    font-weight: bold;
}

form{
    display: grid;
    grid-template-rows: repeat(200px, 9);
    row-gap: 20px;
    max-width: 400px;
    /*margin: 50px auto;*/
}


input[type="checkbox"]{
    direction: rtl;
}

input, select{
    width: 150px;
    font-size: 1.1rem;
}

.anonimously label{
    display: inline;
}

.email-address input{
    width: 200px;
}

.coins{
    grid-row: 1;
}

.sum-donation{
    grid-row: 2;
}

.full-name{
    grid-row: 3;
}

.phone-num{
    grid-row: 4;
}

.email-address{
    grid-row: 5;
}

.payment_method{
    grid-row: 7;
}

.anonimously{
    grid-row: 6;
}

#payment-details{
    grid-row: 8;
}

.submit{
    grid-row: 9;
    direction: ltr;
    padding-top: 1%;
    padding-left: 20%;
}

#sums-for-choose button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid blueviolet;
}

#sums-for-choose button::selection{
    background-color: blueviolet;
    color: white;
}

#sum-tb{
    padding-top: 10px;
    border: 0px solid #fff;
    border-bottom: 1px solid black;
    width: 150px;
}

.color-radio {
    display: none;
  }
  
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;    
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
  
label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label,
button {
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

input[type="radio"]:checked + label,
button:focus, button:hover {
    background-color: #4CAF50;
    color: white;
}

#customAmount {
    border: 1px solid #ccc;
    padding: 8px;
    display: inline-block, none;
    margin: 5px;
    width: 100px;
}

#customAmount:focus, #customAmount:hover {
    background-color: #4CAF50;
    color: white;
}

#customAmount {
    display: none;
}

#customAmount:checked + #customAmountLabel:not(:checked)::before {
    content: '₪';
}

#customAmountLabel::before {
    content: 'אחר';
    display: inline-block;
}


#customAmountTB:checked{
    border: none !important;
}

img:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
}



embed {
    display: none;
    margin-top: 10px;
}

input[type="radio"]:checked + label + embed {
    display: block;
}

label {
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    /*border: 2px solid #ddd;
    border-radius: 8px;*/
    margin-top: 10px;
}

img{
    height: 50px;
    width: 50px;
}

#payment_options{
    display: flex;
    column-gap: 30px;

}

#payment_options img{
    height: 50px;
    width: 80px;
}

#bit_payment img{
    width: 70px;
}

/*
#bit_payment img{
    width: 50px;

}

#credit_payment img{
    height: 50px;
}

#paypal_payment img{
    width: 60px;
    height: 40px;
}
*/