body{
    direction: rtl; /*change the direction for hebrew - from right to left */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 70%;
    background-color: black;
    color: white;
}

label{
    font-size: 1.2rem;
    font-weight: bold;
}

input{
    font-size: 1.1rem;
}
form {
    max-width: 400px;
    /*margin: 50px auto;*/
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px){
    label{
        font-size: 1rem;
    }
    
    input{
        font-size: 0.9rem;
    }
    
    button{
        font-size: 1rem;
    }

    h1{
        font-size: 1.3rem;
    }

    
    #header-payment{
        font-size: 1.2rem;
    }
} 